## Welcome!
Jupyter Notebooks have two types of 'cells'- text and code cells. This is a text cell, where we can write markdown text.

Below, I have written instructions in Markdown cells. In the following Python cell, please attempt to carry out the instruction.

I have provided the first 2 cells as an example.

Answers are provided in the 'answers.ipynb' notebook. Please make some attempt before looking at the answer. This is a very brief introduction to ensure your setup is working.

---

Import Pandas

Note: you may see the error that "pandas" could not be resolved from source. This means that you haven't installed pandas.  
Pandas is a Python library. We can install Python libraries by clicking "Terminal" in the upper-left VSCode menu -> "New Terminal".  
A terminal menu should pop up. In that menu, type:
```bash
pip install pandas
```
FYI: pip is a package (e.g. library) manager for Python.

In [1]:
import pandas as pd

Read in the sample CSV file, 'sample.csv'

In [2]:
sample_csv = pd.read_csv('sample.csv')

Print out what we've read in (will usually only print a sample)

In [3]:
sample_csv

   id  name          major
0   1  nick             cs
1   1  nick  secretly pubp
2   2  jack           pubp
3   3  iman           pubp
4   4  john           isye

Alternative option:

In [4]:
# Print out first 2
sample_csv.head(2)

   id  name          major
0   1  nick             cs
1   1  nick  secretly pubp

Read in the sample TXT file, 'sample.txt'. The separator or delimeter is "|".

In [5]:
sample_txt = pd.read_csv('sample.txt', sep='|')

Print out what we've just read in (will usually only print a sample)

In [6]:
sample_txt

   name   color
0  nick   green
1  john    blue
2  iman  orange
3  jack     red

Inner merge the sample csv data to the sample txt data on 'name'

In [7]:
merged = sample_csv.merge(
    sample_txt,
    how='inner',
    on='name'
)

Print out the merged data

In [8]:
merged

   id  name          major   color
0   1  nick             cs   green
1   1  nick  secretly pubp   green
2   2  jack           pubp     red
3   3  iman           pubp  orange
4   4  john           isye    blue

Select only your name in the data

In [9]:
merged[merged.name == 'nick']

   id  name          major  color
0   1  nick             cs  green
1   1  nick  secretly pubp  green

Delete rows in the merged data with duplicate 'id'

In [10]:
merged = merged.drop_duplicates(subset='id')

Check that it worked by printing the data

In [11]:
merged

   id  name major   color
0   1  nick    cs   green
2   2  jack  pubp     red
3   3  iman  pubp  orange
4   4  john  isye    blue